<ion-content>
  <div
    class="arrow container-fluid text-white py-2 position-sticky bg-grey"
    style="top: 0;"
  >
    <mat-icon class="cursor-pointer" (click)="_router.navigate(['home'])"
      >arrow_back</mat-icon
    >
  </div>
  <header
    class="view-contact-header bg-grey container-fluid py-3 text-white text-capitalize"
  >
    <div class="header-body pl-5">
      <img
        [src]="userData.imageUrl?userData.imageUrl:'/assets/avatar.png'"
        alt=""
        srcset=""
        height="100"
        width="100"
        class="rounded-circle"
      />
      <h1 class="my-2 font-weight-light">{{userData.fullName}}</h1>
    </div>
  </header>
  <main>
    <div class="contact_detail_wrapper text-capitalize  mt-4 text-grey mr-4">
      <div class="phone ">
        <div class="d-flex align-items-center">
          <mat-icon class="mx-2e pb-2 mb-3">local_phone</mat-icon>
          <div class="d-flex flex-column flex-grow-1">
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.mobilePhoneA"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.mobilePhoneA}}</h6>
                <small>Mobile</small>
              </div>
              <mat-icon>sim_card</mat-icon>
            </div>
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.emergencyPhoneA"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.emergencyPhoneA}}</h6>
                <small>Emergency</small>
              </div>
              <mat-icon>announcement</mat-icon>
            </div>
            <span><hr /></span>
          </div>
        </div>
      </div>
      <div class="email">
        <div class="d-flex align-items-center mr-2">
          <mat-icon class="mx-2e pb-2 mb-3">mail</mat-icon>
          <div class="d-flex flex-column flex-grow-1">
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.officialEmail"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.officialEmail}}</h6>
                <small>Official</small>
              </div>
            </div>
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.personalEmail"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.personalEmail}}</h6>
                <small>Personal</small>
              </div>
            </div>
            <span><hr /></span>
          </div>
        </div>
      </div>
      <div class="address" *ngIf="userData.address">
        <div class="d-flex align-items-center mr-2">
          <mat-icon class="mx-2e pb-2 mb-3">place</mat-icon>
          <div class="d-flex flex-column flex-grow-1">
            <div class="d-flex align-items-center my-2">
              <div class="mobile flex-grow-1">
                <h6>{{userData.address}}</h6>
                <small>{{userData.country}}</small>
              </div>
              <img
                [src]="userData.country=='Nepal'?'/assets/flags/ne.svg':'/assets/flags/nl.svg'"
                class="rounded-circle  img-fluid"
                style="height: 25px;"
              />
            </div>
            <span><hr /></span>
          </div>
        </div>
      </div>
      <div class="dateofbirth">
        <div class="d-flex align-items-center mr-2">
          <mat-icon class="mx-2e pb-2 mb-3">person_pin</mat-icon>
          <div class="d-flex flex-column flex-grow-1">
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.birthDay"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.birthDay}}</h6>
                <small>Birth Date</small>
              </div>
            </div>
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.bloodGroup"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.bloodGroup}}</h6>
                <small>Blood Group</small>
              </div>
              <mat-icon>all_inclusive</mat-icon>
            </div>
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.homePhoneA"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.homePhoneA}}</h6>
                <small>Home Phone</small>
              </div>
              <mat-icon>announcement</mat-icon>
            </div>
            <div
              class="d-flex align-items-center my-2"
              *ngIf="userData.projectGroup"
            >
              <div class="mobile flex-grow-1">
                <h6>{{userData.projectGroup}}</h6>
                <small>Project Group</small>
              </div>
              <mat-icon></mat-icon>
            </div>
            <span><hr /></span>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
